<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watson Assistant Integration</title>
</head>
<body>
    <!-- Your content goes here -->

    <script>
      window.watsonAssistantChatOptions = {
        integrationID: "7e1485f4-561b-49a8-97df-10ca3ab5ea56", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "3b0a492d-787c-43dd-95c4-227282d3718b", // The ID of your service instance.
        onLoad: async (instance) => { await instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
</body>
</html>